
.wrapper{}

/* header */
.wrapper>header{
    height: 169px;

    /* border: 1px solid red; */
}

/* header>.top_header */
.wrapper>header>.top-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
    
    margin-top: 10px;
}

/* header>.top_header>.top-header-left */
.wrapper>header>.top-header>.top-header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid violet; */

    position: absolute;
    left: 250px;
}
.wrapper>header>.top-header>.top-header-left>.lang-box{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    width: 87px;
    display: block;
}
.wrapper>header>.top-header>.top-header-left>.lang-box>a{
    font-size: 0.75rem;
    text-decoration: none;
    color: #9b9a9a;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper>header>.top-header>.top-header-left>.lang-box>a>img{}
.wrapper>header>.top-header>.top-header-left>.lang-box>a>.lang{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
.wrapper>header>.top-header>.top-header-left>.lang-box>a>span{}

.wrapper>header>.top-header>.top-header-left>.sns-facebook{
    margin-left: 20px;
}
.wrapper>header>.top-header>.top-header-left>.sns-insta{
    margin-left: 8px;
}


/* header>.top-header>.top-header-right */
.wrapper>header>.top-header>.top-header-right{
    position: absolute;
    right: 250px;
}
.wrapper>header>.top-header>.top-header-right>ul{
}
.wrapper>header>.top-header>.top-header-right>ul>li{
    float: left;
    margin-right: 10px;
}
.wrapper>header>.top-header>.top-header-right>ul>li::after{
    content: '|';
    color: #9b9a9a;
    font-size: 0.6rem;
}
.wrapper>header>.top-header>.top-header-right>ul>li:nth-child(3)::after{
    content: "";
}
.wrapper>header>.top-header>.top-header-right>ul>li>a{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #9b9a9a;
}



/* header>nav */
.wrapper>header>nav{
    height: 89px;
    /* border: 1px solid green; */

    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    margin-left: 250px;    
    margin-right: 250px;
    margin-top: -15px;
}

/* header>nav>.logo */
.wrapper>header>nav>.logo{}
.wrapper>header>nav>.logo>a{}
.wrapper>header>nav>.logo>a>img{}

/* header>nav>ul */
.wrapper>header>nav>.menu{
    /* border: 1px solid red; */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.wrapper>header>nav>.menu>li{
    /* border: 1px solid; */
    /* text-align: center; */
    position: relative;
    
    width: 100%;
    height: 100%;

    text-align: center;
    /* line-height: 87px; */
}
.wrapper>header>nav>.menu>li>a{
    text-decoration: none;
    font-size: 17px;
    color: #303030;
    font-family: 'Montserrat', sans-serif;

    display: block;
    line-height: 87px;
}

.wrapper>header>nav>.menu>li>.submenu{
    background-color: rgba(255,255,255,0.9);
    /* border: 1px solid royalblue; */

    position: absolute;
    left: 0px;
    top: 86px;
    width: 100%;

    display: none;
}
.wrapper>header>nav>.menu>li>.submenu>li{
    /* justify-items: center;
    align-items: center;
    display: flex; */
    border-top: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    left: -30px;
}
.wrapper>header>nav>.menu>li>.submenu>li:first-child{
    border-top: none;
}
.wrapper>header>nav>.menu>li>.submenu>li>a{
    font-size: 14px;
    line-height: 49px;
    text-decoration: none;
    color: #6e6e6e;
}
.wrapper>header>nav>.menu>li:hover .submenu{
    display: block;
    z-index: 5;
}

/* header>nav>.search */
.wrapper>header>nav>.search{
    /* border: 1px solid violet; */
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper>header>nav>.search>.nav-search{
    margin-right: 10px;
}
.wrapper>header>nav>.search>.nav-search>a{}
.wrapper>header>nav>.search>.nav-search>a>span{
    font-size: 28px;
    color:#000
}

.wrapper>header>nav>.search>.btn-all{}
.wrapper>header>nav>.search>.btn-all>a{}
.wrapper>header>nav>.search>.btn-all>a>span{
    font-size: 28px;
    color:#000
}



/* main */
.wrapper>main{}
.wrapper>main>section{}

/* .wrapper>main>section>.pagetitle */
.wrapper>main>section>.pagetitle{
    width: 100%;
    position: relative;
}

/* .wrapper>main>section>.pagetitle */
.wrapper>main>section>.pagetitle>img{}
.wrapper>main>section>.pagetitle>.text{
    /* border: 1px solid red; */
    width: 350px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -65px;

    text-align: center;
}
.wrapper>main>section>.pagetitle>.text>h2{
    color: #fff;
    font-weight: 600;
}
.wrapper>main>section>.pagetitle>.text>span{
    color: #c40f39;
    width: 30px;
    height: 4px;
}
.wrapper>main>section>.pagetitle>.text>p{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}


/* .wrapper>main>section>.pagetabs */
.wrapper>main>section>.pagetabs{
    border: 1px solid;
    width: 100%;
    height: 130px;
}
.wrapper>main>section>.pagetabs>.tab-bar{
    /* border: 1px solid red; */
    background-color: #fff;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 250px;
    margin-right: 250px;
    margin-top: -30px;

    padding-left: 0;
}
.wrapper>main>section>.pagetabs>.tab-bar>.on{
    background-color: #c40f39;
}
.wrapper>main>section>.pagetabs>.tab-bar>.on>a{
    color: #fff;
}
.wrapper>main>section>.pagetabs>.tab-bar>li{
    display: block;
    width: 250px;
    height: 60px;
    text-align: center;

    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    

}
.wrapper>main>section>.pagetabs>.tab-bar>li>a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #666;
    font-weight: normal;

    line-height: 60px;
}



/* footer */
.wrapper>footer{}